:root {
    --bar: #3D437D;
    --bg: #C2C5D2;
    --hover: #54C6FF;
    --container: #171D35;
    --KB_bl: #92211F;
    --KB_pro:#92641F;
    --KB_test:#1F4692;
    --KB_fin:#59921F;
    --green:#3BB800;
    --red:#F30000;
    --yellow:#F3CC00;
    --container2:#1E2646;
    --font-family: "Plus Jakarta Sans", sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.logo img{
    width: 70px;
    height: auto;
}

.logo{
   display: flex;
   align-items: center;
   gap: 50px;
}

nav{
    background-color: #3d437d;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo .sidebar-btn{
    all: unset;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links a:hover{
    color: #54C6FF;
    transition: all ease 0.3s;
}

.nav-links img{
    width: 20px;
}

.search-input{
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search-input input{
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 100%;
    font-size: 13px;
}

.search-input .search1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.user-links{
    display: flex;
    gap: 40px;
    align-items: center;
}

.user-links img{
    width: 23px;
}

main{
    padding: 50px;
    max-width: 90%;
    width: 100%;
    margin: auto;
}

.tabs {
    display: flex;
    overflow: hidden;
    width: max-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .tab-button {
    padding: 10px 20px;
    background-color: #171D35;
    color: white;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;
    font-weight: 500;
  }
  
  .tab-button:hover {
    background-color: #3d437d;
  }
  
  .tab-button.active {
    background-color: #3d437d;
  }
  
  .tab-content {
    display: none;
    padding: 20px;
    background-color: #3d437d;
    color: #fff;
    margin: auto;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 85vh;
    overflow-y: auto;
  }
  
  .tab-content.active {
    display: block;
  }

  .project-header{
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }

  .dropdown-btn, .sort-btn{
    all: unset;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .dropdown-btn span{
    background-color: #f1f1f1;
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-list{
    display: none;
    flex-direction: column;
    padding: 10px 5px;
    gap: 5px;
    width: 100%;
    background-color: #171D35;
    position: absolute;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    top: 30px;
    font-weight: 500;
  }

  .task-status{
    display: none;
    flex-direction: column;
    padding: 10px 5px;
    gap: 5px;
    width: 100%;
    background-color: #171D35;
    position: absolute;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    top: 30px;
    font-weight: 500;
    width: 130px;
    right: 0;
  }

  .dropdown-content button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
  }

  .dropdown-content button:hover{
    background-color: #3d437d;
  }

  .dropdown.active .dropdown-content{
    display: flex;
  }

  .dropdown{
    position: relative;
  }

  .search-input .search2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    color: #000;
}

.toolbar .search-input{
    width: 500px;
}

.toolbar{
    display: flex;
    gap: 20px;
    align-items: center;
}
  
.project-content {
    display: flex;
    gap: 50px;
}

.project-content .members{
    padding: 20px;
    background-color: #171D35;
    border-radius: 20px;
    height: 72vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.project-content .user, .project-content .add-member{
    padding: 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.project-content .user:hover, .project-content .add-member:hover{
    background-color: #3d437d;
    transition: all ease 0.3s;
}

.user.active{
    background-color: #54C6FF;
}

.add-member-btn{
    all: unset;
    font-size: 18px;
    display: grid;
    place-items: center;
}
/*--task css--*/

.cards-container{
    display: flex;
    width: 100%;
    padding: 10px;

}

.cards-container > *{
    flex: 1 0 auto;
}

.cards-container h5{
    padding: 10px;
    width: 270px;
    border-radius: 10px;
}

.backlogs h5 {

    background-color: #92211F;
}

.in-progress h5 {
    background-color: #92641F;
}

.testing h5 {
    background-color: #1F4692;
}

.finished h5 {
    background-color: #59921F;
}

.Backlog{
    background-color:var(--KB_bl);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.InProgress{
    background-color:var(--KB_pro);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.Testing{
    background-color:var(--KB_test);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.Finished{
    background-color:var(--KB_fin);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.task-card {
    margin-top: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 270px;
    margin-bottom: 1rem;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; 
}

.task-card h3 {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 16px;
}

.task-card section {
    margin-bottom: 0.5rem;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 14px;
}

.task-card p {
    display: flex;
    align-items: center;
    margin: 10px 5px 0 45px;
    font-size: 12px;
}
.delete1{
    position: absolute;
    height: 25px;
    width: 25px;
    margin: 0 0 0 210px;
    background: none;
    border: none;

}
.delete1 img{
    height: 20px;
    width: 20px;
    transition: all 0.3s ease; 
}
.delete1:hover img {
    transform: scale(1.2); 
    content: url('../../images/trash_open.png');
  }

.taskcard img {
    position: absolute;
    height: 25px;
    width: 25px;
    margin: 5px 0 0 15px;
    background-color: black;
    border-radius: 50%;
}
.priority {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--container);
    color: var(--green);
    text-align: center;
}
.High {
    color: var(--red);
}

.Medium {
    color: var(--yellow);
}

.Low {
    color: var(--green);
}

.is-dragging {
    opacity: 0.5;
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.confirm-btn {
    display: none; /* Hides the confirm button */
}

/* Style the checkbox */
.task-select {
    position:absolute;
    margin-left: 10px; /* Optional: space between the checkbox and the text */
    cursor: pointer; /* Optional: shows pointer when hovering over the checkbox */
}

/* Overlay styling */
.task-overlay-admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9998;
    display: none; /* Initially hidden */
}

/* Modal container styling */
.task-modal-admin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: var(--container2); 
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    color: var(--bg);
    display: none; /* Initially hidden */
    font-family: var(--font-family);
}


.task-modal-content-admin {
    padding: 20px;
    position: relative;
}


.close-btn-admin img {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}


.userimage img {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
}


.membername-admin {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}


.devspeherename-admin {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--bg); 
}


.duedate-admin {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--bg); 
    margin-bottom: 20px;
}

.duedate-admin label img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#dateDisplayAdmin {
    font-size: 14px;
}

.task-priority-admin {
    margin-bottom: 20px;
    font-size: 14px;
}

.task-priority-indicator-admin {
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 8px;
    margin-left: 4px;
}

.task-priority-indicator-admin {
    background-color: var(--red);
    color: #fff;
}

.note-admin {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-admin {
    font-size: 14px;
    line-height: 1.5;
    color: var(--bg); 
    margin-bottom: 20px;
}

/* Edit button */
.edit-btn-admin img {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/*--end task css--*/
#announcement .container{
    width: 100%;
    max-width: 85%;
    margin: auto;
}

#announcement .container .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-btn{
    all: unset;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid #54C6FF;
    cursor: pointer;
    font-size: 13px;
    background-color: #54C6FF;
}

.post-btn:hover{
    opacity: 0.9;
}

.post-announcement{
    border-color: #3BB800 !important;
    background-color: #3BB800;
    color: #fff;
}

.file-input label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px dashed #bebebe;
    border-radius: 20px;
    cursor: pointer;
}

.file-input label:hover{
    background-color: #3D437D;
    transition: all ease 0.3s;
}

.file-input label p{
    font-size: 12px;
}

.file-input label i {
    font-size: 50px;
    color: #54C6FF;
}

#filePreview{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 170px;
    overflow-y: auto;
}

.icon {
    padding: 5px;
    background: #3D437D;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.preview-item {
    padding: 7px;
    display: flex;
    align-items: center;
    position: relative;
    background: #f1f1f1;
    border-radius: 10px;
}

.preview-item p{
    color: #000;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.preview-item .remove-btn{
    all: unset;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: absolute;
    top: -5px;
    right: -5px;
    color: #d83939;
    cursor: pointer;
}

.announcement-body{
    padding: 20px;
    display: flex;
    flex-direction: column;
     gap: 10px;
}

.announcement-body .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.announcement-body .card {
    padding: 25px;
    border-radius: 20px;
    background-color: #171d35;
    position: relative;
}

.option-btn{
    all: unset;
    display: flex;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.option-btn:hover{
    background-color: #3D437D;
    transition: all ease 0.3s;
}

.option-container{
    display: none;
    position: absolute;
    right: 35px;
    top: 30px;
    background-color: #fff;
    flex-direction: column;
    color: #000;
    gap: 10px;
    font-weight: 600;
    border-radius: 10px;
    padding: 7px;
    z-index: 1;
}

.option-container button{
    all: unset;
    font-size: 13px;
    cursor: pointer;
    padding: 10px;
}

.option-container button:hover{
    background-color: #f1f1f1;
    border-radius: 10px;
}

.option-container button i{
    margin-right: 5px;
}

.imageModal .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
  }

  .imageModal .nav:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all ease 0.3s;
  }
  
  .imageModal .nav.left {
    left: 10px;
  }
  
  .imageModal .nav.right {
    right: 10px;
  }
  

.image-container img{
    border-radius: 10px;
    width: 55px;
    height: 55px;
    border: 1px solid;
}

.image-container {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    cursor: pointer;
}

.imageModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.image-modal-content {
    display: block;
    margin: 5% auto;
    max-width: 80%;
    max-height: 80%;
    animation-name: zoom;
    animation-duration: 0.3s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

 .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 35px;
    transition: 0.3s;
    cursor: pointer;
}

.file-overlay {
    width: 55px;
    height: 55px;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.file-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px;
}

.file-overlay span {
    position: relative;
    z-index: 2; 
}

#deleteModal .modal-content{
    background-color: #171D35;
    max-width: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 13px;
}

.action-btns {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.confirm-btn,
.cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 11px;
    transition: all ease 0.3s;
}


.confirm-btn {
    background-color: #d9534f;
    color: white;
}

.cancel-btn {
    background-color: #e3e3e3;
    color: black;
}

.confirm-btn:hover {
    background-color: #bd4542;
}

.cancel-btn:hover {
    background-color: #e8e8e8;
}

/*----------------------------------- FOOTER ------------------------------*/

footer {
    background: linear-gradient(0deg, #3D437D 0%, #171D35 100%);
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-links{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.footer-links a{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.footer-links a:hover{
    color: #54C6FF;
    transition: all ease 0.3s;
}

.socials{
    margin-bottom: 20px;
    display: flex;
}

.socials a {
    text-decoration: none;
    margin: 0px 20px;
    background-color: #fff;
    padding: 7px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #171D35;
}

.socials a i{
    font-size: 20px;
}

.socials a:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.copyright {
    font-size: 10px; 
    color: white;
    margin-top: 10px;
    font-weight: 200;
    outline: none;
    user-select: none;
}

footer .line{
    background-color: #c2c5d2;
    width: 90%;
    margin: 20px auto;
}